* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 1rem 2rem;
}

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tab {
    display: none;
    padding: 2rem;
    border: 1px solid lightgrey;
    flex: 1 1;
}
.tab.selected {
    display: block;
}
.tabs {
    display: flex;
    flex-direction: row;
}
.tabs > .tab-selector {
    border: 1px solid #ddd;
    border-bottom: 0;
    display: block;
    margin-left: 1rem;
    padding: 0.4rem 1rem;
    user-select: none;
    position: relative;
    background: #eee;
}
.tab-selector.selected {
    background: white;
}
.tab-selector.disabled {
    background: #ccc;
    color: #999;
}
.tab-selector:not(.selected):not(.disabled):hover {
    background: #e9e9e9;
}
.tab-selector.selected:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background: white;
}

footer {
    background: white;
    padding: 1rem;
    border-top: 1px lightgrey;
}

#editor > div {
    display: flex;
    flex-direction: row;
}

#editor .square {
    width: 400;
    height: 400;
    position: relative;
}

#editor .square > * {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#editor .trace-area .art {
    opacity: 15%;
}


.hflex {
    display: flex;
    flex-direction: row;
}

.easel {
    display: block;
    padding: 20px;
    width: min-content;
    left: 0px;
    border: 1px dashed darkgreen;
}

.tool, .undo {
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex: 1 1;
    margin: 0 32px;
    padding: 5px;
}
.undo:hover, .tool:hover:not(.tool-selected) {
    background: rgba(0, 0, 255, 0.1);
}

.tool-selected {
    border: 2px red solid;
    padding: 2px;
}

